@import "config";
@import "menu";
@import "buttons";

* {
  box-sizing: border-box;
}

body {
  @include background();
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

h1,
h2 {
  margin: 0;
  font-weight: 300;

  &.name {
    font-size: 6rem;
  }

  &.summary {
    margin-bottom: 2rem;
    padding: 0.3rem 2rem;
    //background: rgba(lighten($color: $primary-color, $amount: 3), 0.5);
  }
}

a {
  color: white;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include transition();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

// ABOUT PAGE
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimg bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimg;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
    height: 250px;
  }

  .bio {
    grid-area: bio;
    background: darken($primary-color, 5);
    padding: 0.5rem;
    font-size: 1.3rem;
  }

  .job-1 {
    grid-area: job1;
  }
  .job-2 {
    grid-area: job2;
  }
  .job-3 {
    grid-area: job3;
  }

  .job {
    background: darken($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
    h3 {
      color: $secondary-color;
    }
  }
}

// FOOTER
#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}
